In [1]:
import os
import pandas as pd
from qub_canvas_helper.groups import CanvasGroupManager

# Canvas Login Details

In [2]:
# Where on the internet is canvas
canvas_domain = "https://qub.instructure.com"

# Access token is now in .env under CANVAS_API_TOKEN
access_token = os.getenv("CANVAS_API_TOKEN")

# Check this is set up properly
if not access_token:
    raise ValueError("Missing Canvas API token!")

# Configure Details

Specify the course. The course_id can be found in the url of the module: https://canvas.qub.ac.uk/courses/27862

In [3]:
course_id = 27862

Create a list of group sets. For now, do this manually as a list below.

In [4]:
group_sets = ['Tuesday 10-1', 'Tuesday 2-5', 'Thursday 10-1', 'Thursday 2-5', 'Friday 2-5']

Create a list of groups. For now, do this manually as a list below.

In [5]:
groups = ['Lab 1', 'Lab 2', 'Lab 3', 'Lab 4', 'Lab 5']

# Start Talking to Canvas

## Creating Groups

Instantiate the class using the data provided above.

In [6]:
group_manager = CanvasGroupManager(canvas_domain, access_token, course_id)

Create any number of groups sets, as named in the list above.

This is the top level in Canvas (the big red "+ Group Set" button) and is a collection of groups.

In [7]:
group_manager.create_group_sets(group_sets)

Failed to create group category 'Tuesday 10-1': 400, {"errors":{"name":[{"attribute":"name","type":"Tuesday 10-1 is already in use.","message":"Tuesday 10-1 is already in use."}]}}
Failed to create group category 'Tuesday 2-5': 400, {"errors":{"name":[{"attribute":"name","type":"Tuesday 2-5 is already in use.","message":"Tuesday 2-5 is already in use."}]}}
Failed to create group category 'Thursday 10-1': 400, {"errors":{"name":[{"attribute":"name","type":"Thursday 10-1 is already in use.","message":"Thursday 10-1 is already in use."}]}}
Failed to create group category 'Thursday 2-5': 400, {"errors":{"name":[{"attribute":"name","type":"Thursday 2-5 is already in use.","message":"Thursday 2-5 is already in use."}]}}
Failed to create group category 'Friday 2-5': 400, {"errors":{"name":[{"attribute":"name","type":"Friday 2-5 is already in use.","message":"Friday 2-5 is already in use."}]}}

Canvas works with group ids, not the name, so we need to find these.

In [8]:
all_canvas_groups = group_manager.get_all_group_sets()
group_sets_dict = dict(zip(all_canvas_groups['name'], all_canvas_groups['id']))
group_sets_dict

{'Tuesday 10-1': 12784,
 'Tuesday 2-5': 12785,
 'Thursday 10-1': 12786,
 'Thursday 2-5': 12787,
 'Friday 2-5': 12788}

Create groups, sepcified in a list above, for a group set, as identified by the Canvas id.

In [9]:
group_manager.create_groups_in_sets(group_sets_dict.values(), groups)

Group 'Lab 1' created successfully in group set 12784.
Group 'Lab 2' created successfully in group set 12784.
Group 'Lab 3' created successfully in group set 12784.
Group 'Lab 4' created successfully in group set 12784.
Group 'Lab 5' created successfully in group set 12784.
Group 'Lab 1' created successfully in group set 12785.
Group 'Lab 2' created successfully in group set 12785.
Group 'Lab 3' created successfully in group set 12785.
Group 'Lab 4' created successfully in group set 12785.
Group 'Lab 5' created successfully in group set 12785.
Group 'Lab 1' created successfully in group set 12786.
Group 'Lab 2' created successfully in group set 12786.
Group 'Lab 3' created successfully in group set 12786.
Group 'Lab 4' created successfully in group set 12786.
Group 'Lab 5' created successfully in group set 12786.
Group 'Lab 1' created successfully in group set 12787.
Group 'Lab 2' created successfully in group set 12787.
Group 'Lab 3' created successfully in group set 12787.
Group 'Lab 4' created successfully in group set 12787.
Group 'Lab 5' created successfully in group set 12787.
Group 'Lab 1' created successfully in group set 12788.
Group 'Lab 2' created successfully in group set 12788.
Group 'Lab 3' created successfully in group set 12788.
Group 'Lab 4' created successfully in group set 12788.
Group 'Lab 5' created successfully in group set 12788.

{12784: [{'name': 'Lab 1', 'id': 54780},
  {'name': 'Lab 2', 'id': 54781},
  {'name': 'Lab 3', 'id': 54782},
  {'name': 'Lab 4', 'id': 54783},
  {'name': 'Lab 5', 'id': 54784}],
 12785: [{'name': 'Lab 1', 'id': 54785},
  {'name': 'Lab 2', 'id': 54786},
  {'name': 'Lab 3', 'id': 54787},
  {'name': 'Lab 4', 'id': 54788},
  {'name': 'Lab 5', 'id': 54789}],
 12786: [{'name': 'Lab 1', 'id': 54790},
  {'name': 'Lab 2', 'id': 54791},
  {'name': 'Lab 3', 'id': 54792},
  {'name': 'Lab 4', 'id': 54793},
  {'name': 'Lab 5', 'id': 54794}],
 12787: [{'name': 'Lab 1', 'id': 54795},
  {'name': 'Lab 2', 'id': 54796},
  {'name': 'Lab 3', 'id': 54797},
  {'name': 'Lab 4', 'id': 54798},
  {'name': 'Lab 5', 'id': 54799}],
 12788: [{'name': 'Lab 1', 'id': 54800},
  {'name': 'Lab 2', 'id': 54801},
  {'name': 'Lab 3', 'id': 54802},
  {'name': 'Lab 4', 'id': 54803},
  {'name': 'Lab 5', 'id': 54804}]}

If things have gone wrong, delete all the groups in a group set, identified by the Canvas id.

In [10]:
#group_manager.delete_all_groups_in_set(12772)

## Assigning Students to Groups

In [11]:
# Move this above?
student_groups = pd.read_excel('custom_groups.xlsx')
student_groups.head()

,id,name,Tuesday 10-1,Tuesday 2-5,Thursday 10-1,Thursday 2-5,Friday 2-5
0,1491,Matt Damon,Lab 1,Lab 5,Lab 4,Lab 3,Lab 2
1,1490,Jodie Foster,Lab 2,Lab 1,Lab 5,Lab 4,Lab 3
2,1492,Tom Hanks,Lab 3,Lab 2,Lab 1,Lab 5,Lab 4
3,1493,Liam Neeson,Lab 4,Lab 3,Lab 2,Lab 1,Lab 5
4,1489,Kate Winslet,Lab 5,Lab 4,Lab 3,Lab 2,Lab 1

We have a dictionary of the group sets above, we also need a dictionary of the groups within the group sets

In [12]:
groups_dict = group_manager.get_all_groups(group_sets_dict)
groups_dict

{'Tuesday 10-1': {'Lab 1': 54780,
  'Lab 2': 54781,
  'Lab 3': 54782,
  'Lab 4': 54783,
  'Lab 5': 54784},
 'Tuesday 2-5': {'Lab 1': 54785,
  'Lab 2': 54786,
  'Lab 3': 54787,
  'Lab 4': 54788,
  'Lab 5': 54789},
 'Thursday 10-1': {'Lab 1': 54790,
  'Lab 2': 54791,
  'Lab 3': 54792,
  'Lab 4': 54793,
  'Lab 5': 54794},
 'Thursday 2-5': {'Lab 1': 54795,
  'Lab 2': 54796,
  'Lab 3': 54797,
  'Lab 4': 54798,
  'Lab 5': 54799},
 'Friday 2-5': {'Lab 1': 54800,
  'Lab 2': 54801,
  'Lab 3': 54802,
  'Lab 4': 54803,
  'Lab 5': 54804}}

Assign students to groups within the group sets based on th provided Excel data

In [13]:
group_manager.assign_students_to_groups(student_groups, group_sets_dict, groups_dict)

Student Matt Damon (ID: 1491) successfully assigned to 'Lab 1' in 'Tuesday 10-1'
Student Matt Damon (ID: 1491) successfully assigned to 'Lab 5' in 'Tuesday 2-5'
Student Matt Damon (ID: 1491) successfully assigned to 'Lab 4' in 'Thursday 10-1'
Student Matt Damon (ID: 1491) successfully assigned to 'Lab 3' in 'Thursday 2-5'
Student Matt Damon (ID: 1491) successfully assigned to 'Lab 2' in 'Friday 2-5'
Student Jodie Foster (ID: 1490) successfully assigned to 'Lab 2' in 'Tuesday 10-1'
Student Jodie Foster (ID: 1490) successfully assigned to 'Lab 1' in 'Tuesday 2-5'
Student Jodie Foster (ID: 1490) successfully assigned to 'Lab 5' in 'Thursday 10-1'
Student Jodie Foster (ID: 1490) successfully assigned to 'Lab 4' in 'Thursday 2-5'
Student Jodie Foster (ID: 1490) successfully assigned to 'Lab 3' in 'Friday 2-5'
Student Tom Hanks (ID: 1492) successfully assigned to 'Lab 3' in 'Tuesday 10-1'
Student Tom Hanks (ID: 1492) successfully assigned to 'Lab 2' in 'Tuesday 2-5'
Student Tom Hanks (ID: 1492) successfully assigned to 'Lab 1' in 'Thursday 10-1'
Student Tom Hanks (ID: 1492) successfully assigned to 'Lab 5' in 'Thursday 2-5'
Student Tom Hanks (ID: 1492) successfully assigned to 'Lab 4' in 'Friday 2-5'
Student Liam Neeson (ID: 1493) successfully assigned to 'Lab 4' in 'Tuesday 10-1'
Student Liam Neeson (ID: 1493) successfully assigned to 'Lab 3' in 'Tuesday 2-5'
Student Liam Neeson (ID: 1493) successfully assigned to 'Lab 2' in 'Thursday 10-1'
Student Liam Neeson (ID: 1493) successfully assigned to 'Lab 1' in 'Thursday 2-5'
Student Liam Neeson (ID: 1493) successfully assigned to 'Lab 5' in 'Friday 2-5'
Student Kate Winslet (ID: 1489) successfully assigned to 'Lab 5' in 'Tuesday 10-1'
Student Kate Winslet (ID: 1489) successfully assigned to 'Lab 4' in 'Tuesday 2-5'
Student Kate Winslet (ID: 1489) successfully assigned to 'Lab 3' in 'Thursday 10-1'
Student Kate Winslet (ID: 1489) successfully assigned to 'Lab 2' in 'Thursday 2-5'
Student Kate Winslet (ID: 1489) successfully assigned to 'Lab 1' in 'Friday 2-5'