In [1]:
import os
import pandas as pd
from qub_canvas_helper.calendar import CanvasCalendarManager
from qub_canvas_helper.assignments import CanvasAssignmentManager
from qub_canvas_helper.groups import CanvasGroupManager

# Canvas Login Details

In [2]:
# Where on the internet is canvas
canvas_domain = "https://qub.instructure.com"

# Access token is now in .env under CANVAS_API_TOKEN
access_token = os.getenv("CANVAS_API_TOKEN")

# Check this is set up properly
if not access_token:
    raise ValueError("Missing Canvas API token!")

# Configure Details

Specify the course. The course_id can be found in the url of the module: https://canvas.qub.ac.uk/courses/27862

In [3]:
course_id = 27862

Create a list of group sets. For now, do this manually as a list below.

In [4]:
groups = ['Group A', 'Group B', 'Group C', 'Group D', 'Group E']

Create a list of groups. For now, do this manually as a list below.

In [5]:
group_sets = ['Lab 1', 'Lab 2', 'Lab 3', 'Lab 4', 'Lab 5']

# Start Talking to Canvas

## Creating Groups

Instantiate the class using the data provided above.

In [6]:
group_manager = CanvasGroupManager(canvas_domain, access_token, course_id)

Create any number of groups sets, as named in the list above.

This is the top level in Canvas (the big red "+ Group Set" button) and is a collection of groups.

In [7]:
group_manager.create_group_sets(group_sets)

Failed to create group category 'Lab 1': 400, {"errors":{"name":[{"attribute":"name","type":"Lab 1 is already in use.","message":"Lab 1 is already in use."}]}}
Failed to create group category 'Lab 2': 400, {"errors":{"name":[{"attribute":"name","type":"Lab 2 is already in use.","message":"Lab 2 is already in use."}]}}
Failed to create group category 'Lab 3': 400, {"errors":{"name":[{"attribute":"name","type":"Lab 3 is already in use.","message":"Lab 3 is already in use."}]}}
Failed to create group category 'Lab 4': 400, {"errors":{"name":[{"attribute":"name","type":"Lab 4 is already in use.","message":"Lab 4 is already in use."}]}}
Failed to create group category 'Lab 5': 400, {"errors":{"name":[{"attribute":"name","type":"Lab 5 is already in use.","message":"Lab 5 is already in use."}]}}

Canvas works with group ids, not the name, so we need to find these.

In [8]:
all_canvas_groups = group_manager.get_all_group_sets()
group_sets_dict = dict(zip(all_canvas_groups['name'], all_canvas_groups['id']))
group_sets_dict

{'Lab 1': 12804,
 'Lab 2': 12805,
 'Lab 3': 12806,
 'Lab 4': 12807,
 'Lab 5': 12808}

Create groups, sepcified in a list above, for a group set, as identified by the Canvas id.

In [9]:
group_manager.create_groups_in_sets(group_sets_dict.values(), groups)

Group 'Group A' already exists in group set 12804, skipping creation.
Group 'Group B' already exists in group set 12804, skipping creation.
Group 'Group C' already exists in group set 12804, skipping creation.
Group 'Group D' already exists in group set 12804, skipping creation.
Group 'Group E' already exists in group set 12804, skipping creation.
Group 'Group A' already exists in group set 12805, skipping creation.
Group 'Group B' already exists in group set 12805, skipping creation.
Group 'Group C' already exists in group set 12805, skipping creation.
Group 'Group D' already exists in group set 12805, skipping creation.
Group 'Group E' already exists in group set 12805, skipping creation.
Group 'Group A' already exists in group set 12806, skipping creation.
Group 'Group B' already exists in group set 12806, skipping creation.
Group 'Group C' already exists in group set 12806, skipping creation.
Group 'Group D' already exists in group set 12806, skipping creation.
Group 'Group E' already exists in group set 12806, skipping creation.
Group 'Group A' already exists in group set 12807, skipping creation.
Group 'Group B' already exists in group set 12807, skipping creation.
Group 'Group C' already exists in group set 12807, skipping creation.
Group 'Group D' already exists in group set 12807, skipping creation.
Group 'Group E' already exists in group set 12807, skipping creation.
Group 'Group A' already exists in group set 12808, skipping creation.
Group 'Group B' already exists in group set 12808, skipping creation.
Group 'Group C' already exists in group set 12808, skipping creation.
Group 'Group D' already exists in group set 12808, skipping creation.
Group 'Group E' already exists in group set 12808, skipping creation.

{12804: [], 12805: [], 12806: [], 12807: [], 12808: []}

If things have gone wrong, delete all the groups in a group set, identified by the Canvas id.

In [10]:
#group_manager.delete_all_groups_in_set(12772)

## Assigning Students to Groups

In [11]:
# Move this above?
student_groups = pd.read_excel('custom_groups.xlsx')
student_groups.head()

     id          name    Lab 1    Lab 2    Lab 3    Lab 4    Lab 5
0  1491    Matt Damon  Group A  Group E  Group D  Group C  Group B
1  1490  Jodie Foster  Group B  Group A  Group E  Group D  Group C
2  1492     Tom Hanks  Group C  Group B  Group A  Group E  Group D
3  1493   Liam Neeson  Group D  Group C  Group B  Group A  Group E
4  1489  Kate Winslet  Group E  Group D  Group C  Group B  Group A

We have a dictionary of the group sets above, we also need a dictionary of the groups within the group sets

In [12]:
groups_dict = group_manager.get_all_groups(group_sets_dict)
groups_dict

{'Lab 1': {'Group A': 54951,
  'Group B': 54952,
  'Group C': 54953,
  'Group D': 54954,
  'Group E': 54955},
 'Lab 2': {'Group A': 54956,
  'Group B': 54957,
  'Group C': 54958,
  'Group D': 54959,
  'Group E': 54960},
 'Lab 3': {'Group A': 54961,
  'Group B': 54962,
  'Group C': 54963,
  'Group D': 54964,
  'Group E': 54965},
 'Lab 4': {'Group A': 54966,
  'Group B': 54967,
  'Group C': 54968,
  'Group D': 54969,
  'Group E': 54970},
 'Lab 5': {'Group A': 54971,
  'Group B': 54972,
  'Group C': 54973,
  'Group D': 54974,
  'Group E': 54975}}

Assign students to groups within the group sets based on th provided Excel data

In [13]:
group_manager.assign_students_to_groups(student_groups, group_sets_dict, groups_dict)

Student Matt Damon (ID: 1491) successfully assigned to 'Group A' in 'Lab 1'
Student Matt Damon (ID: 1491) successfully assigned to 'Group E' in 'Lab 2'
Student Matt Damon (ID: 1491) successfully assigned to 'Group D' in 'Lab 3'
Student Matt Damon (ID: 1491) successfully assigned to 'Group C' in 'Lab 4'
Student Matt Damon (ID: 1491) successfully assigned to 'Group B' in 'Lab 5'
Student Jodie Foster (ID: 1490) successfully assigned to 'Group B' in 'Lab 1'
Student Jodie Foster (ID: 1490) successfully assigned to 'Group A' in 'Lab 2'
Student Jodie Foster (ID: 1490) successfully assigned to 'Group E' in 'Lab 3'
Student Jodie Foster (ID: 1490) successfully assigned to 'Group D' in 'Lab 4'
Student Jodie Foster (ID: 1490) successfully assigned to 'Group C' in 'Lab 5'
Student Tom Hanks (ID: 1492) successfully assigned to 'Group C' in 'Lab 1'
Student Tom Hanks (ID: 1492) successfully assigned to 'Group B' in 'Lab 2'
Student Tom Hanks (ID: 1492) successfully assigned to 'Group A' in 'Lab 3'
Student Tom Hanks (ID: 1492) successfully assigned to 'Group E' in 'Lab 4'
Student Tom Hanks (ID: 1492) successfully assigned to 'Group D' in 'Lab 5'
Student Liam Neeson (ID: 1493) successfully assigned to 'Group D' in 'Lab 1'
Student Liam Neeson (ID: 1493) successfully assigned to 'Group C' in 'Lab 2'
Student Liam Neeson (ID: 1493) successfully assigned to 'Group B' in 'Lab 3'
Student Liam Neeson (ID: 1493) successfully assigned to 'Group A' in 'Lab 4'
Student Liam Neeson (ID: 1493) successfully assigned to 'Group E' in 'Lab 5'
Student Kate Winslet (ID: 1489) successfully assigned to 'Group E' in 'Lab 1'
Student Kate Winslet (ID: 1489) successfully assigned to 'Group D' in 'Lab 2'
Student Kate Winslet (ID: 1489) successfully assigned to 'Group C' in 'Lab 3'
Student Kate Winslet (ID: 1489) successfully assigned to 'Group B' in 'Lab 4'
Student Kate Winslet (ID: 1489) successfully assigned to 'Group A' in 'Lab 5'

## Create Assignments and Calendar Events

Instantiate classes for each

In [14]:
calendar_manager = CanvasCalendarManager(canvas_domain, access_token, course_id)
assignment_manager = CanvasAssignmentManager(canvas_domain, access_token, course_id)

Manually assign lab dates (to become Calendar Events) and state how long after students will have to submit the Post Lab (to become Assignment date).

The actual names of the labs (ie group sets) and post lab assignments must be used!

This could be done in an Excel file and uploaded but there aren't many entries for now so do manually here.

In [15]:
submission_length_days = 7

In [16]:
# Really need to go back and change 'Tuesday 10-1' etc to 'Group A' etc
custom_practical_dates = pd.read_excel('custom_practical_dates.xlsx')
custom_practical_dates

,Practical,2024-10-28 00:00:00,2024-10-29 00:00:00,2024-10-30 00:00:00,2024-10-31 00:00:00,2024-11-01 00:00:00
0,Lab 1,Group A,Group E,Group D,Group C,Group B
1,Lab 2,Group B,Group A,Group E,Group D,Group C
2,Lab 3,Group C,Group B,Group A,Group E,Group D
3,Lab 4,Group D,Group C,Group B,Group A,Group E
4,Lab 5,Group E,Group D,Group C,Group B,Group A

### Assignments

We will need to find the ids of the assignments

In [17]:
all_assignments = assignment_manager.get_assignments_in_module(published_status = "all")
assignments_dict = dict(zip(all_assignments['name'], all_assignments['id']))
assignments_dict

{'Example Assignment': 181313,
 'Assignment 1': 203603,
 'Assignment 2': 203604,
 'Post Lab 1': 204089,
 'Post Lab 2': 204090,
 'Post Lab 3': 204091,
 'Post Lab 4': 204092,
 'Post Lab 5': 204093}

We also need to say which practicals are associated with which post labs.

In [18]:
practicals_and_postlabs_dict = {'Lab 1': 'Post Lab 1',
                                'Lab 2': 'Post Lab 2',
                                'Lab 3': 'Post Lab 3',
                                'Lab 4': 'Post Lab 4',
                                'Lab 5': 'Post Lab 5'}

We must decide what assignments are involved and make sure they are linked to the correct groups.

In [19]:
assignment_ids = [204089, 204090, 204091, 204092, 204093]

This will take all the info from above and assign submission dates to individual groups.

NOTE: Currently requires manual selection of the group on Canvas - possibly not worth automating this right now.

In [22]:
assignment_manager.assign_assignments_to_group_sets(assignment_ids, 
                                                    assignments_dict, 
                                                    practicals_and_postlabs_dict, 
                                                    groups_dict,
                                                    custom_practical_dates, 
                                                    submission_length_days)

Failed to assign assignment 'Post Lab 1' (ID: 204089) to group 'Group A' in practical 'Lab 1'. Response: {"errors":{"set_id":[{"attribute":"set_id","type":"taken","message":"taken"}]}}
Failed to assign assignment 'Post Lab 1' (ID: 204089) to group 'Group E' in practical 'Lab 1'. Response: {"errors":{"set_id":[{"attribute":"set_id","type":"taken","message":"taken"}]}}
Failed to assign assignment 'Post Lab 1' (ID: 204089) to group 'Group D' in practical 'Lab 1'. Response: {"errors":{"set_id":[{"attribute":"set_id","type":"taken","message":"taken"}]}}
Failed to assign assignment 'Post Lab 1' (ID: 204089) to group 'Group C' in practical 'Lab 1'. Response: {"errors":{"set_id":[{"attribute":"set_id","type":"taken","message":"taken"}]}}
Failed to assign assignment 'Post Lab 1' (ID: 204089) to group 'Group B' in practical 'Lab 1'. Response: {"errors":{"set_id":[{"attribute":"set_id","type":"taken","message":"taken"}]}}
Assignment 'Post Lab 2' (ID: 204090) successfully assigned to group 'Group B' in practical 'Lab 2' with due date 2024-11-04.
Assignment 'Post Lab 2' (ID: 204090) successfully assigned to group 'Group A' in practical 'Lab 2' with due date 2024-11-05.
Assignment 'Post Lab 2' (ID: 204090) successfully assigned to group 'Group E' in practical 'Lab 2' with due date 2024-11-06.
Assignment 'Post Lab 2' (ID: 204090) successfully assigned to group 'Group D' in practical 'Lab 2' with due date 2024-11-07.
Assignment 'Post Lab 2' (ID: 204090) successfully assigned to group 'Group C' in practical 'Lab 2' with due date 2024-11-08.
Assignment 'Post Lab 3' (ID: 204091) successfully assigned to group 'Group C' in practical 'Lab 3' with due date 2024-11-04.
Assignment 'Post Lab 3' (ID: 204091) successfully assigned to group 'Group B' in practical 'Lab 3' with due date 2024-11-05.
Assignment 'Post Lab 3' (ID: 204091) successfully assigned to group 'Group A' in practical 'Lab 3' with due date 2024-11-06.
Assignment 'Post Lab 3' (ID: 204091) successfully assigned to group 'Group E' in practical 'Lab 3' with due date 2024-11-07.
Assignment 'Post Lab 3' (ID: 204091) successfully assigned to group 'Group D' in practical 'Lab 3' with due date 2024-11-08.
Assignment 'Post Lab 4' (ID: 204092) successfully assigned to group 'Group D' in practical 'Lab 4' with due date 2024-11-04.
Assignment 'Post Lab 4' (ID: 204092) successfully assigned to group 'Group C' in practical 'Lab 4' with due date 2024-11-05.
Assignment 'Post Lab 4' (ID: 204092) successfully assigned to group 'Group B' in practical 'Lab 4' with due date 2024-11-06.
Assignment 'Post Lab 4' (ID: 204092) successfully assigned to group 'Group A' in practical 'Lab 4' with due date 2024-11-07.
Assignment 'Post Lab 4' (ID: 204092) successfully assigned to group 'Group E' in practical 'Lab 4' with due date 2024-11-08.
Assignment 'Post Lab 5' (ID: 204093) successfully assigned to group 'Group E' in practical 'Lab 5' with due date 2024-11-04.
Assignment 'Post Lab 5' (ID: 204093) successfully assigned to group 'Group D' in practical 'Lab 5' with due date 2024-11-05.
Assignment 'Post Lab 5' (ID: 204093) successfully assigned to group 'Group C' in practical 'Lab 5' with due date 2024-11-06.
Assignment 'Post Lab 5' (ID: 204093) successfully assigned to group 'Group B' in practical 'Lab 5' with due date 2024-11-07.
Assignment 'Post Lab 5' (ID: 204093) successfully assigned to group 'Group A' in practical 'Lab 5' with due date 2024-11-08.

In case something goes wrong, we can remove the above in bulk.

In [21]:
#assignment_manager.remove_group_assignments(assignment_ids)

### Calendar Events

First of all, we need to load the calendar which tells us when and where the practical sessions are.

In [22]:
# Which excel file?
excel_calendar = "calendar_upload_test.xlsx"

# Specify the worksheet
sheet_name = "CHM1101"

The Excel file must be of a very specific layout, be sure of this beforehand!

There must also be a 'Category' column in which the labs are specified, the dates must also be the exact dates specified in custom_practical_dates.

In [23]:
# Load excel sheet, the first few rows do not contain timetable information
timetable_df = pd.read_excel(excel_calendar, sheet_name = sheet_name, skiprows = 4)

# The module code is usually in cell D2, extract this and add as a new column
module_code_df = pd.read_excel(excel_calendar, sheet_name=0, nrows=2, usecols='D')
module_code = module_code_df.iloc[0, 0]
timetable_df['Module Code'] = module_code

# CLean the data
timetable_df = timetable_df.dropna(subset=['Category'])

# Filter just for labs
lab_timetable_df = timetable_df[timetable_df['Category'] == 'Lab']

lab_timetable_df.head()

,Week No.,Day,Date,Start Time,End Time,Topic,Notes,Staff,Room,Normal Capacity,Category,Module Code
5,NaN,NaN,2024-10-28 00:00:00,10:00:00,13:00:00,Organic Labs,NaN,Lecturer McLecturerFace,DKB/LG/021,NaN,Lab,CHM1101
6,NaN,NaN,2024-10-29 00:00:00,10:00:00,13:00:00,Organic Labs,NaN,Lecturer McLecturerFace,DKB/LG/022,NaN,Lab,CHM1101
7,NaN,NaN,2024-10-30 00:00:00,10:00:00,13:00:00,Organic Labs,NaN,Lecturer McLecturerFace,DKB/LG/023,NaN,Lab,CHM1101
8,NaN,NaN,2024-10-31 00:00:00,10:00:00,13:00:00,Organic Labs,NaN,Lecturer McLecturerFace,DKB/LG/024,NaN,Lab,CHM1101
9,NaN,NaN,2024-11-01 00:00:00,10:00:00,13:00:00,Organic Labs,NaN,Lecturer McLecturerFace,DKB/LG/025,NaN,Lab,CHM1101

Create events for each group detailing which practical they are doing.

NOTE: This goes to a group specific calendar which needs to be added to the main calendar, might not be that useful. The script does not currently check if there is an event already in place, so running more than once will create duplicates.

In [24]:
calendar_manager.create_practical_calendar_events(custom_practical_dates, lab_timetable_df, practicals_and_postlabs_dict, groups_dict)

Event created for group 'Group E' in practical 'Lab 1'.
Event created for group 'Group A' in practical 'Lab 2'.
Event created for group 'Group B' in practical 'Lab 3'.
Event created for group 'Group C' in practical 'Lab 4'.
Event created for group 'Group D' in practical 'Lab 5'.
Event created for group 'Group D' in practical 'Lab 1'.
Event created for group 'Group E' in practical 'Lab 2'.
Event created for group 'Group A' in practical 'Lab 3'.
Event created for group 'Group B' in practical 'Lab 4'.
Event created for group 'Group C' in practical 'Lab 5'.
Event created for group 'Group C' in practical 'Lab 1'.
Event created for group 'Group D' in practical 'Lab 2'.
Event created for group 'Group E' in practical 'Lab 3'.
Event created for group 'Group A' in practical 'Lab 4'.
Event created for group 'Group B' in practical 'Lab 5'.
Event created for group 'Group B' in practical 'Lab 1'.
Event created for group 'Group C' in practical 'Lab 2'.
Event created for group 'Group D' in practical 'Lab 3'.
Event created for group 'Group E' in practical 'Lab 4'.
Event created for group 'Group A' in practical 'Lab 5'.